/* Tailwind base, components và utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px; /* Cài đặt font-size mặc định */
}

body {
  font-family: 'Quicksand', sans-serif; /* Đặt font-family cho toàn bộ trang */
  font-size: 16px;
}

/* Chế độ tối (dark mode) */
.dark body {
  background-color: #2a2a2a; /* Màu nền cho chế độ tối */
  color: white; /* Màu chữ cho chế độ tối */
}

/* Thêm các lớp style khác nếu cần */
/* Mobile First Approach */
body {
  font-size: 16px;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}


table {
  border-collapse: collapse;
  width: 100%; /* Bảng chiếm toàn bộ chiều rộng */
  height: 100%;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

img {
  max-width: 100%; /* Đảm bảo ảnh không vượt quá kích thước của ô */
  height: auto; /* Giữ tỉ lệ ảnh */
}
